-- INSERT statements for menu_item_reviews
-- Business ID: fd8a3d59-4a06-43c2-9820-0e3222867117
-- Generated on: 2025-10-16 23:06:27


-- Instructions:
-- 1. Get actual menu item IDs:
--    SELECT id, name FROM menu_items WHERE business_id = 'fd8a3d59-4a06-43c2-9820-0e3222867117';
-- 2. Replace the generated UUIDs above with actual menu_item_ids
-- 3. Run the INSERT statement
-- 4. Verify with:
--    SELECT * FROM menu_item_reviews WHERE business_id = 'fd8a3d59-4a06-43c2-9820-0e3222867117';
